
#filmnameSearch
{
    color:#333;
    line-height:normal;
    font-family:"Microsoft YaHei",Tahoma,Verdana,SimSun;
    font-style:normal;
    font-variant:normal;
    font-size-adjust:none;
    font-stretch:normal;
    font-weight:normal;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    padding-top:4px;
    padding-right:4px;
    padding-bottom:4px;
    padding-left:4px;
    font-size:15px;
    outline-width:medium;
    outline-style:none;
    outline-color:invert;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    text-shadow:0px 1px 2px #fff;
    background-attachment:scroll;
    background-repeat:repeat-x;
    background-position-x:left;
    background-position-y:top;
    background-size:auto;
    background-origin:padding-box;
    background-clip:border-box;
    background-color:rgb(255,255,255);
    margin-right:8px;
    border-top-color:#ccc;
    border-right-color:#ccc;
    border-bottom-color:#ccc;
    border-left-color:#ccc;
    border-top-width:1px;
    border-right-width:1px;
    border-bottom-width:1px;
    border-left-width:1px;
    border-top-style:solid;
    border-right-style:solid;
    border-bottom-style:solid;
    border-left-style:solid;
    
    width: 300px;
}
#filmnameSearch:focus
{
    border: 1px solid #fafafa;
    -webkit-box-shadow: 0px 0px 6px #007eff;
     -moz-box-shadow: 0px 0px 5px #007eff;
     box-shadow: 0px 0px 5px #007eff;   
    
}
#c
{
    font-size: 40px;
    font-weight: 500;
    color: #90AEFF;
}
#h
{
    font-size: 25px;
    font-weight: 500;
    color: #ce2525;
}
#i
{
    font-size: 25px;
    font-weight: 500;
    color: #f9e75e;
}
#sh
{
    font-size: 35px;
    font-weight: 500;
    color: #74dac6;
}
#si
{
    font-size: 25px;
    font-weight: 500;
    color: #7dc383;
}
#r
{
    font-size: 25px;
    font-weight: 500;
    color: #ff5f5f;
}
#o
{
    font-size: 25px;
    font-weight: 500;
    color: #74dac6;
}
.logo
{
    position: relative;
    left: 10px;
    top: 3px;
}
.container
{
    position: relative;
    left: 150px;
    top: -35px;
}
.clickbutton
{
    position: absolute;
    top: 24px;
    left: 500px;

}
.spanlable
{
    float: left;
    display: inline-block;
    width: 4px;
    height: 23px;
    margin-right: 6px;
    background-color: #ef4238;
}

.showpart
{
    position: absolute;;
    width: 1000px;
    height: auto;
    left: 150px;
    border: 2px solid #a7efe9;
    border-left: none;
    border-right: none;
}
.headtype
{
    width: 900px;
    height: 250px;
}
.headright
{
    width: 160px;
    height: 220px;
    margin-left: 30px;
    margin-top: 20px;

}
.headleft
{
    width: 300px;
    height: 220px;
    float: right;
    margin-right: 360px;
    margin-top: -30px;

}
.a
{
    margin-left: 10px;
    color: #616161;
}
.b
{
    margin-left: 10px;
    color: #616161;
}
h3
{
    font-size: 32px;
    font-weight: 600;
    color: #33354a;
}

.ename
{
    margin-top: -10px;
    color: #658525;
    font-size: 20px;
}
.types
{
    color: #00818a;
}
