<!DOCTYPE html>
 <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
 <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
 <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
 <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
     <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>演员搜索</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 引用css -->
        <link rel="stylesheet" type="text/css" href="../statics/CSS/externalCSS/buttons.css"/>
        <!-- 自定义css -->
        <link rel="stylesheet" type="text/css" href="../statics/CSS/customCSS/actorSearch.css" />
     </head>
     <body>
         <!--[if lt IE 7]>
             <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
         <![endif]-->
         <section id="searchpart">
             <div class="searchtype">
                 <form>
                    <input id="filmnameSearch" type="text" name="filename" placeholder="请输入想要查询的导演：" autocomplete="off" />
                 </form>
             </div>
         </section>

         <section class="clickbutton">
             <button id="research" type="submit" class="button button-rounded button-tiny button-glow button-rounded button-raised button-primary">查询</button>
         </section>

         <section id="showPart" class="showPartType">
            <div id="picture" class="pictureType">
                <img id="showpicture"/>
            </div>
            <div id="information" class="informationType">
                <p id="name" class="directorname"></p>
                <p>
                    <span>中文名：</span>
                    <span id="chinesename"></span>
                </p>
                <p>
                    <span>英文名：</span>
                    <span id="englishname"></span>
                </p>
                <p>
                    <span>别名：</span>
                    <span id="elsename"></span>
                </p>
                <p>
                    <span>国籍：</span>
                    <span id="country"></span>
                </p>
                <p>
                    <span>出生地：</span>
                    <span id="bornplace"></span>    
                </p>
                <p>
                    <span>出生日期：</span>
                    <span id="borndata"></span>
                </p>
                <p>
                    <span>代表作品：</span>
                    <span id="representative"></span>
                </p>
                <p>
                    <span>主要成就：</span>
                    <span id="prize"></span>
                </p>
            </div>
         </section>

         <section id="searchInformationPart" class="searchInformationPartType">
            
         </section>
         
         <!-- <section id="a"></section>
         <section id="b"></section> -->
         
         <!-- 引用js -->
         <script type="text/javascript" src="../statics/JS/externalJS/jquery.min.js"></script>
         <script type="text/javascript" src="../statics/JS/externalJS/jquery-3.2.1.js"></script>
         <!-- 自定义js -->
         <script type="text/javascript" src="../statics/JS/customJS/actorSearch.js"></script>
     </body>
 </html>